<!doctype html>
<html lang="es">
    
<head>
  <meta charset="utf-8">
  <title>{{ title or "Inicio" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header class="topbar">
    <div class="container">
        <h1 class="brand"><a href="{{ url_for('inicio') }}">Inicio</a></h1>
        <nav class="nav">
          <a href="{{ url_for('materias') }}">Materias</a>
          <a href="{{ url_for('grupos') }}">Grupos</a>
          <a href="{{ url_for('absentismo') }}">Absentismo</a>
        </nav>
    </div>
  </header>

  <main>
    <div class="container">

      {% block content %}{% endblock %}

    </div>
  </main>

  <footer class="footer">
    <div class="container">
      {% if copy %}
      <small>&copy; {{ copy }}</small>
      {% endif %}
    </div>
  </footer>
</body>

</html>