<!doctype html>
<html lang="es">
    
<head>
  <meta charset="utf-8">
  <title>{{ title or "Inicio" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header class="topbar">
    <div class="container">
        <h1 class="brand"><a href="{{ url_for('inicio') }}">Inicio</a></h1>
        <nav class="nav">
          <a href="{{ url_for('materias') }}">Materias</a>
          <a href="#">Grupos</a>
          <a href="#">Absentismo</a>
        </nav>
    </div>
  </header>

  <main class="container">
    
    
    
    {% if msg %}
      <div class="msg">{{ msg }}</div>
    {% endif %}

    {% block content %}{% endblock %}

  </main>

  <footer class="footer">
    <div class="container">
      <small>&copy; 2026 · Proyecto Final · Rubén Murcia Fernández</small>
    </div>
  </footer>
</body>

</html>