<!-- grupos.html -->

{% extends "base.html" %}

{% block content %}

<!-- evaluacion, estudios, materia -->

 <div class="form">
  <form method="get">
    <div class="form-row">
      <div class="form-group">
        <label for="evaluacion">Evaluación</label>

        <!-- Evaluación -->
        <select id="evaluacion" name="evaluacion">
          <option value="">— Evaluación —</option>
          {% for e in evaluaciones %}
            <option value="{{ e }}" {% if e == sel_evaluacion %}selected{% endif %}>
              {{ e }}
            </option>
          {% endfor %}
        </select>

      </div>
      <div class="form-group">
        <label for="curso">Curso</label>

        <!-- Curso -->
        <select id="curso" name="curso">
          <option value="">— Curso —</option>
          {% for c in cursos %}
            <option value="{{ c }}" {% if c == sel_curso %}selected{% endif %}>
              {{ c }}
            </option>
          {% endfor %}
        </select>

      </div>
      <div class="form-group">
        <label for="grupo">Materia</label>

        <!-- Materia -->
        <select id="materia" name="materia">
        <option value="">— Materia —</option>
        {% for m in materias %}
            <option value="{{ m }}" {% if m == sel_materia %}selected{% endif %}>
            {{ m }}
            </option>
        {% endfor %}
        </select>

      </div>
    </div>
    <div class="actions">
      <button class="btn" type="submit">Filtrar</button>
      <a class="btn-limpiar" href="{{ url_for('grupos') }}">Limpiar filtros</a>
    </div>
  </form>
</div>

{% if resumen %}
<div class="tabs">
  <button class="tab-btn activo" onclick="cambiarTab('resumen', this)">Resumen</button>
  <button class="tab-btn" onclick="cambiarTab('grafica', this)">Gráfica</button>
  <button class="tab-btn" onclick="cambiarTab('datos', this)">Datos</button>
</div>

<div id="tab-resumen" class="tab-contenido activo">
  {{ resumen | safe }}
</div>
<div id="tab-grafica" class="tab-contenido">
  {% if grafica %}
    <div class="grafica">
      <img src="data:image/png;base64,{{ grafica }}" alt="Aprobados y Medias">
    </div>
  {% endif %}
</div>
<div id="tab-datos" class="tab-contenido">
  {{ datos | safe }}
</div>

<script>
function cambiarTab(nombre, boton) {
    document.querySelectorAll(".tab-contenido").forEach(d => d.classList.remove("activo"));
    document.querySelectorAll(".tab-btn").forEach(b => b.classList.remove("activo"));
    document.getElementById("tab-" + nombre).classList.add("activo");
    boton.classList.add("activo");
}
</script>
{% endif %}

{% endblock %}